sections: [
  {
    name: 'Features'
    match: '^feat\\((.*)\\):\\s(.*)$'
    replace: '\\2'
    grouping_capture: 1
  }
  {
    name: 'Bug Fixes'
    match: '^fix\\((.*)\\):\\s(.*)$'
    replace: '\\2'
    grouping_capture: 1
  }
  {
    name: 'Performances'
    match: '^perf\\((.*)\\):\\s(.*)$'
    replace: '\\2'
    grouping_capture: 1
  }
]
